/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:350px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/* visual styles */


body {
    padding-bottom:40px;
}
h1 {
    margin:40px 0px 20px 0px;
	color:#95c500;
    font-size:28px;
    line-height:34px;
    text-align:center;
    padding-top: 125px;
}
[class*="col-"] {
    padding-top:10px;
    padding-bottom:15px;
	border:1px solid #80aa00;
	background:#d6ec94;
}
[class*="col-"]:before {
    display:block;
	position:relative;
    margin-bottom:8px;
	font-family:sans-serif;
	font-size:10px;
    letter-spacing:1px;
    color:#658600;
    text-align:left;
}
.item {
    width:100%;
    height:100%;
	border:1px solid #cecece;
    padding:16px 8px;
	background:#ededed;
	background:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
	background:-moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
	background:-ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

/* content styles */
.item {
	display:table;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	padding-left: 4px;
}
.content:before {
    font-family:sans-serif;
    font-size:11px;
    letter-spacing:1px;
    color:#747474;
}

/* centering styles for jsbin */
html,
body {
    width:100%;
    height:100%;
}
html {
    display:table;
}
body {
    display:table-cell;
    vertical-align:middle;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  border-top: 1px solid #222;
  background-color: #222;
  width: 83.5%;
  margin-left: auto;
  margin-right: auto;
  color: #777;
  text-align: center;
  text-decoration: none;
}

/* footer stuff */

footer a {
color: #777;
}

footer a:visited {
color: #777;
}

footer a:hover {
color: white; 
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  }
  @media (max-width: 768px) {

    .item img {
  max-width:100%;
  }
  }

  @media (min-width: 768px) {
    figure {
        margin-left: 32%;

    }
}