/* ================================= Price Page ================================= */
.container .jumbotron {
    border: 2px solid #80aa00;
    padding: 10px 10px;
    border-radius: 20px;
    
}

.condo {
    text-align: center;
}


.larger {
    font-size: 1.4em;
}

.myhead {
    text-align: center;    
}

.pricecontainer {
    border: 1px solid #80aa00;
    border-radius: 22px;
    padding: 15px;
    text-decoration: none;
    list-style: none;
    background-color: ;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

.price-inner {
    border: 1px solid #80aa00;
    border-radius: 22px #d6ec94;
    padding: 15px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: #ededed;
}

.price-inner ul {
    padding: 15px;
    text-decoration: none;
    list-style: none;
}

.price-inner table {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .fl {
         float: left;     
    }
}

.fr {
     float: right;
}

.clearit {
    clear: both;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  border-top: 1px solid #222;
  background-color: #222;
  width: 83.5%;
  margin-left: auto;
  margin-right: auto;
  color: #777;
  text-align: center;
  text-decoration: none;
}

/* footer stuff */

footer a {
color: #777;
}

footer a:visited {
color: #777;
}

footer a:hover {
color: white; 
}



@media (min-width: 768px) {
    figure {
        margin-left: 32%;

    }
}


/* ================================= Orders Page ================================= */

.required {
    color: red;
    display: block;
    float: right;
}


  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
